Using indexes:
  https://pypi.org/simple

                          ROUND 1
Current constraints:
  Markdown==2.6.11
  oauthlib==2.1.0
  pip-tools
  pylint-plugin-utils==0.3
  requests-oauthlib==1.1.0
  six==1.11.0
  splinter==0.9.0
  urllib3<1.24

Finding the best candidates:
  found candidate markdown==2.6.11 (constraint was ==2.6.11)
  found candidate oauthlib==2.1.0 (constraint was ==2.1.0)
  found candidate pip-tools==4.1.0 (constraint was <any>)
  found candidate pylint-plugin-utils==0.3 (constraint was ==0.3)
  found candidate requests-oauthlib==1.1.0 (constraint was ==1.1.0)
  found candidate six==1.11.0 (constraint was ==1.11.0)
  found candidate splinter==0.9.0 (constraint was ==0.9.0)
  found candidate urllib3==1.23 (constraint was <1.24)

Finding secondary dependencies:
  urllib3==1.23 not in cache, need to check index
  urllib3==1.23             requires -
  requests-oauthlib==1.1.0 not in cache, need to check index
  requests-oauthlib==1.1.0  requires -
  oauthlib==2.1.0 not in cache, need to check index
  oauthlib==2.1.0           requires -
  pip-tools==4.1.0 not in cache, need to check index
  pip-tools==4.1.0          requires click>=6, six
  pylint-plugin-utils==0.3 not in cache, need to check index
  pylint-plugin-utils==0.3  requires -
  splinter==0.9.0 not in cache, need to check index
  splinter==0.9.0           requires -
  six==1.11.0 not in cache, need to check index
  six==1.11.0               requires -
  markdown==2.6.11 not in cache, need to check index
  markdown==2.6.11          requires -

New dependencies found in this round:
  adding [u'click', '>=6', '[]']
  adding [u'six', '', '[]']
Removed dependencies in this round:
Unsafe dependencies in this round:
------------------------------------------------------------
Result of round 1: not stable

                          ROUND 2
Current constraints:
  click>=6
  Markdown==2.6.11
  oauthlib==2.1.0
  pip-tools
  pylint-plugin-utils==0.3
  requests-oauthlib==1.1.0
  six==1.11.0
  splinter==0.9.0
  urllib3<1.24

Finding the best candidates:
  found candidate click==7.0 (constraint was >=6)
  found candidate markdown==2.6.11 (constraint was ==2.6.11)
  found candidate oauthlib==2.1.0 (constraint was ==2.1.0)
  found candidate pip-tools==4.1.0 (constraint was <any>)
  found candidate pylint-plugin-utils==0.3 (constraint was ==0.3)
  found candidate requests-oauthlib==1.1.0 (constraint was ==1.1.0)
  found candidate six==1.11.0 (constraint was ==1.11.0)
  found candidate splinter==0.9.0 (constraint was ==0.9.0)
  found candidate urllib3==1.23 (constraint was <1.24)

Finding secondary dependencies:
  pylint-plugin-utils==0.3  requires -
  oauthlib==2.1.0           requires -
  six==1.11.0               requires -
  splinter==0.9.0           requires -
  requests-oauthlib==1.1.0  requires -
  pip-tools==4.1.0          requires click>=6, six
  markdown==2.6.11          requires -
  click==7.0 not in cache, need to check index
  click==7.0                requires -
  urllib3==1.23             requires -
------------------------------------------------------------
Result of round 2: stable, done

#
# This file is autogenerated by pip-compile
# To update, run:
#
#    pip-compile --no-index --no-emit-trusted-host --output-file requirements/edx/pip-tools.txt requirements/edx/pip-tools.in
#
click==7.0                # via pip-tools
pip-tools==4.1.0
six==1.11.0
